apify < 3.0
beautifulsoup4[lxml]
httpx
types-beautifulsoup4
requests
playwright
beautifulsoup4
selenium
undetected-chromedriver
patchright
pandas
psycopg2
sqlalchemy
langchain-core
langchain-community
langchain
langchain-google-community
langchain-groq
duckdb
tweepy
google-api-python-client
emoji
